{% extends 'base.html.twig' %}

{% block title %}An Error Occurred{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="display-4">Oops! An Error Occurred</h1>
            <p class="lead mb-5">The server returned an error. Please try again later or contact the administrator if the problem persists.</p>
            <a href="{{ path('app_welcome') }}" class="btn btn-primary">Return to Homepage</a>
        </div>
    </div>
</div>
{% endblock %}